<h3>Buy ASC(AdrianCoin)</h3>
<hr>
<div *ngIf="status != ''">
    <h4 class="text-danger">{{ status }}</h4>
    <hr>
</div>
<span>Quantity(in eth): </span><input type="text" placeholder="1, 1.5, 0.003..." name="quantity" [(ngModel)]="value">
<hr>
<br>
<button (click)="buyASC()">Buy</button>