<h2>Received</h2>
<hr>

<div class="row">
    <div class="col" *ngFor="let tx of txReceived; let i=index">
        <div class="card mb-3">
            <div class="card-body">
                <h4 class="card-title">Tx #{{ i + 1 }}</h4>
                <hr>
                <p><span>From:</span> {{ tx.returnValues.from }}</p>
                <hr>
                <p><span>To:</span> {{ tx.returnValues.to }}</p>
                <hr>
                <p><span>Amount:</span> {{ tx.returnValues.value }}</p>
                <hr>
                <p><span>Block Number:</span> {{ tx.blockNumber }}</p>
                <hr>
                <p><span>Event:</span> {{ tx.event }}</p>
                <hr>
                <p><span>Tx Hash:</span> {{ tx.transactionHash }}</p>
            </div>
        </div>
    </div>
</div>

<h2>Sent</h2>
<hr>
<div class="row">
    <div class="col" *ngFor="let tx of txSent; let i=index">
        <div class="card mb-3">
            <div class="card-body">
                <h4 class="card-title">Tx #{{ i + 1 }}</h4>
                <hr>
                <p><span>From:</span> {{ tx.returnValues.from }}</p>
                <hr>
                <p><span>To:</span> {{ tx.returnValues.to }}</p>
                <hr>
                <p><span>Amount:</span> {{ tx.returnValues.value }}</p>
                <hr>
                <p><span>Block Number:</span> {{ tx.blockNumber }}</p>
                <hr>
                <p><span>Event:</span> {{ tx.event }}</p>
                <hr>
                <p><span>Tx Hash:</span> {{ tx.transactionHash }}</p>
            </div>
        </div>
    </div>
</div>