
<h3>Messages</h3>
<hr>
<div *ngIf="status != ''">
    <h4 class="text-danger">{{ status }}</h4>
    <hr>
</div>
<div class="row" >
        <div class="col-3" *ngFor="let message of depuredMessages; let i = index">
            <div class="card border-dark mb-3">
                <div class="card-body">
                    <h4 class="card-title">
                        {{message.title}}
                        <button class="btn btn-light top-right" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            <i class="fas fa-chevron-down"></i>
                        </button>
                        <div class="dropdown-menu">
                            <a class="dropdown-item" (click)="deleteMessage(i)">Delete</a>
                            <a class="dropdown-item" (click)="getData(message.title, message.text, message.id)" data-toggle="modal" data-target="#exampleModalCenter">Edit</a>
                        </div>
                    </h4>
                    <hr>
                    <p>{{message.text}}</p>
                </div>
            </div>

            <!-- Modal -->
            <div class="modal fade" id="exampleModalCenter" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
                <div class="modal-dialog modal-dialog-centered" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLongTitle">Update Message</h5>
                    </div>
                    <div class="modal-body">
                        <p>id: {{ editId }}</p>
                        <span>Title: </span><input type="text" [(ngModel)]="editTitle">
                        <span>Text: </span><input type="text" [(ngModel)]="editText">
                    </div>
                    <div class="modal-footer">
                        <span class="text-warning">If you update this message we will get of your account 1 ASC, if you are agree click on 'Save Changes'.</span>
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                        <button type="button" class="btn btn-primary" data-dismiss="modal" (click)="editMessage()">Save changes</button>
                    </div>
                </div>
                </div>
            </div>
            <!-- End Modal -->

        </div>

</div>