
<div class="row justify-content-center">
    <div class="card bg-light mb-3 col">
        <div class="card-title mt-4 text-center"><h3><strong>TRANSFER</strong></h3></div>
        <hr>
        <div class="card-body">
            <form>
                <p>To: </p><input type="text" placeholder="WalletId" size="42" [(ngModel)]="to" name="to">
                <hr>
                <p>Amount: </p><input type="text" min="0" placeholder="1000000000000000000" [(ngModel)]="amount" name="amount">
                <hr>
                <button class="btn-primary" (click)="doATransfer(to,amount)">Transfer</button>
                <p class="text-danger">{{ status }}</p>
            </form>
        </div>
    </div>
</div>
