
<div class="row justify-content-center">
    <div class="card border-dark bg-light mb-3 col">
        <div class="card-title mt-4 text-center"><h3><strong>BALANCE - AdrianCoin(ASC)</strong></h3></div>
        <hr>
        <div class="card-body">
            <h5 class="card-text text-center">Wallet id: <strong>{{ wallet }}</strong></h5>
            <hr>
            <h5 class="card-text text-center">Tokens: <strong>{{ tokens }} ASC</strong></h5>
            <hr>
            <h5 class="card-text text-center">Tokens: <strong>{{ transformTokens(tokens) }} ASC</strong></h5>
            <hr>
            <h5 class="card-text text-center">Network: <strong>{{ network }}</strong></h5>
            <hr>
        </div>
    </div>
</div>
