<h1 style="font-weight: bold;">Messages App - Wallet App</h1>
<hr>

<div class="row">
    <div class="col-3">
        <app-sidebar></app-sidebar>
    </div>
    <div class="col">
      <router-outlet></router-outlet>
    </div>
</div>


