<ul class="list-group">
    <h4 >Messages</h4>
    <a class="nav-link list-group-item" routerLink="/newMessage">New message</a>
    <a class="nav-link list-group-item" routerLink="/listMessages">List messages</a>
    <hr>
    <h4>Wallet</h4>
    <a class="nav-link list-group-item" routerLink="/wallet">My Wallet</a>
    <a class="nav-link list-group-item" routerLink="/transfer">Do a transfer</a>
    <a class="nav-link list-group-item" routerLink="/transactions">See transactions</a>
    <hr>
    <h4>Awesome function</h4>
    <!-- <a class="nav-link list-group-item" (click)="smtm()">Show me the money</a> -->
    <a class="nav-link list-group-item" routerLink="/buyASC">Buy AdrianCoins</a>
    <a *ngIf="!allowed" class="nav-link list-group-item bg-warning" (click)="allowUseTokens()">Let us use your tokens</a>
</ul>