<h3>New message</h3>
<hr>
<div *ngIf="status != ''">
    <h4 class="text-danger">{{ status }}</h4>
    <hr>
</div>
<form (ngSubmit)="createMessage()">
    <input type="text" placeholder="Title" name="title" [(ngModel)]="message.title">
    <hr>
    <textarea name="message" cols="30" rows="10" [(ngModel)]="message.text"></textarea>
    <br>
    <button>Create</button>
</form>